.Button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 4px;
  border: 1px solid #ccc;
  color: black;
  margin-right: 15px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
}

.Button:focus {
  outline: none;
}

.Button:active {
  box-shadow: inset 2px 2px 1px rgba(0, 0, 0, 0.3);
}

.Button:disabled {
  background-color: rgb(149, 146, 146);
  color: cornsilk;
  cursor: not-allowed;
}

.error {
  background: rgba(209, 27, 36, 0.527);
}

.success {
  background: rgba(58, 175, 47, 0.527);
}

.primary {
  background: rgb(50, 12, 219);
}
